// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
table {
  margin-bottom: 1.25em;
  th {
    font-weight: bold;
  }
  th, td {
    padding: 4px 8px;
    vertical-align: top;
    border: solid 1px #e0e0e0;
  }
  thead, tr:nth-child(2n) {
    background-color: #f2f2f2;
  }
}
